In [1]:
import numpy as np 
import pandas as pd

In [2]:
a = pd.read_csv('/kaggle/input/novel-corona-virus-2019-dataset/covid_19_data.csv')
a.head(5)

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0

In [3]:
a.tail(5)

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
306424,306425,05/29/2021,Zaporizhia Oblast,Ukraine,2021-05-30 04:20:55,102641.0,2335.0,95289.0
306425,306426,05/29/2021,Zeeland,Netherlands,2021-05-30 04:20:55,29147.0,245.0,0.0
306426,306427,05/29/2021,Zhejiang,Mainland China,2021-05-30 04:20:55,1364.0,1.0,1324.0
306427,306428,05/29/2021,Zhytomyr Oblast,Ukraine,2021-05-30 04:20:55,87550.0,1738.0,83790.0
306428,306429,05/29/2021,Zuid-Holland,Netherlands,2021-05-30 04:20:55,391559.0,4252.0,0.0

In [4]:
a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 306429 entries, 0 to 306428
Data columns (total 8 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   SNo              306429 non-null  int64
 1   ObservationDate  306429 non-null  object
 2   Province/State   228326 non-null  object
 3   Country/Region   306429 non-null  object
 4   Last Update      306429 non-null  object
 5   Confirmed        306429 non-null  float64
 6   Deaths           306429 non-null  float64
 7   Recovered        306429 non-null  float64
dtypes: float64(3), int64(1), object(4)
memory usage: 18.7+ MB

In [5]:
a.columns

Index(['SNo', 'ObservationDate', 'Province/State', 'Country/Region',
       'Last Update', 'Confirmed', 'Deaths', 'Recovered'],
      dtype='object')

In [6]:
a.dtypes

SNo                  int64
ObservationDate     object
Province/State      object
Country/Region      object
Last Update         object
Confirmed          float64
Deaths             float64
Recovered          float64
dtype: object

In [7]:
a.isnull()

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
306424,False,False,False,False,False,False,False,False
306425,False,False,False,False,False,False,False,False
306426,False,False,False,False,False,False,False,False
306427,False,False,False,False,False,False,False,False
306428,False,False,False,False,False,False,False,False

In [8]:
s = {
    "Student": ["Aryan","Sahil","Ishu","Betu","Sahil","Suraj","Divakar","Ishu","Aryan"],
    "Marks": [23,44,33,54,78,23,54,34,45],
    "Age": [18,19,17,18,19,20,15,19,20]
}
g = pd.DataFrame(s)
g

   Student  Marks  Age
0    Aryan     23   18
1    Sahil     44   19
2     Ishu     33   17
3     Betu     54   18
4    Sahil     78   19
5    Suraj     23   20
6  Divakar     54   15
7     Ishu     34   19
8    Aryan     45   20

In [9]:
g['Student'].duplicated()

0    False
1    False
2    False
3    False
4     True
5    False
6    False
7     True
8     True
Name: Student, dtype: bool

In [10]:
g['Age'].duplicated()

0    False
1    False
2    False
3     True
4     True
5    False
6    False
7     True
8     True
Name: Age, dtype: bool

In [11]:
g['Marks'].duplicated()

0    False
1    False
2    False
3    False
4    False
5     True
6     True
7    False
8    False
Name: Marks, dtype: bool

In [12]:
g

   Student  Marks  Age
0    Aryan     23   18
1    Sahil     44   19
2     Ishu     33   17
3     Betu     54   18
4    Sahil     78   19
5    Suraj     23   20
6  Divakar     54   15
7     Ishu     34   19
8    Aryan     45   20

In [13]:
m1 = g['Student'].duplicated(keep = 'first')
m1

0    False
1    False
2    False
3    False
4     True
5    False
6    False
7     True
8     True
Name: Student, dtype: bool

In [14]:
g[m1]

  Student  Marks  Age
4   Sahil     78   19
7    Ishu     34   19
8   Aryan     45   20

In [15]:
m3 = g['Student'].duplicated(keep = False)
m3

0     True
1     True
2     True
3    False
4     True
5    False
6    False
7     True
8     True
Name: Student, dtype: bool

In [16]:
g[m3]

  Student  Marks  Age
0   Aryan     23   18
1   Sahil     44   19
2    Ishu     33   17
4   Sahil     78   19
7    Ishu     34   19
8   Aryan     45   20

In [17]:
g

   Student  Marks  Age
0    Aryan     23   18
1    Sahil     44   19
2     Ishu     33   17
3     Betu     54   18
4    Sahil     78   19
5    Suraj     23   20
6  Divakar     54   15
7     Ishu     34   19
8    Aryan     45   20

In [18]:
m6 = g.duplicated(subset = ['Student','Marks','Age'])
m6

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
dtype: bool

In [19]:
g[m6]

Empty DataFrame
Columns: [Student, Marks, Age]
Index: []

In [20]:
a

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
306424,306425,05/29/2021,Zaporizhia Oblast,Ukraine,2021-05-30 04:20:55,102641.0,2335.0,95289.0
306425,306426,05/29/2021,Zeeland,Netherlands,2021-05-30 04:20:55,29147.0,245.0,0.0
306426,306427,05/29/2021,Zhejiang,Mainland China,2021-05-30 04:20:55,1364.0,1.0,1324.0
306427,306428,05/29/2021,Zhytomyr Oblast,Ukraine,2021-05-30 04:20:55,87550.0,1738.0,83790.0
306428,306429,05/29/2021,Zuid-Holland,Netherlands,2021-05-30 04:20:55,391559.0,4252.0,0.0

In [21]:
m8 = a.duplicated(subset=['ObservationDate','Province/State','Country/Region','Last Update'])
m8

0         False
1         False
2         False
3         False
4         False
          ...
306424    False
306425    False
306426    False
306427    False
306428    False
Length: 306429, dtype: bool

In [22]:
a[m8]

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
53,54,01/23/2020,Hubei,Mainland China,1/23/20 17:00,444.0,17.0,28.0

In [23]:
a.loc[50:55]

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
50,51,01/23/2020,Heilongjiang,Mainland China,1/23/20 17:00,2.0,0.0,0.0
51,52,01/23/2020,Henan,Mainland China,1/23/20 17:00,5.0,0.0,0.0
52,53,01/23/2020,Hong Kong,Hong Kong,1/23/20 17:00,2.0,0.0,0.0
53,54,01/23/2020,Hubei,Mainland China,1/23/20 17:00,444.0,17.0,28.0
54,55,01/23/2020,Hunan,Mainland China,1/23/20 17:00,9.0,0.0,0.0
55,56,01/23/2020,Inner Mongolia,Mainland China,1/23/20 17:00,0.0,0.0,0.0