In [1]:
import numpy as np 
import pandas as pd

In [2]:
a = pd.read_csv('/kaggle/input/corona-virus-data-set-part-2-on-kaggle/covid_19_data.csv')
a

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
306424,306425,05/29/2021,Zaporizhia Oblast,Ukraine,2021-05-30 04:20:55,102641.0,2335.0,95289.0
306425,306426,05/29/2021,Zeeland,Netherlands,2021-05-30 04:20:55,29147.0,245.0,0.0
306426,306427,05/29/2021,Zhejiang,Mainland China,2021-05-30 04:20:55,1364.0,1.0,1324.0
306427,306428,05/29/2021,Zhytomyr Oblast,Ukraine,2021-05-30 04:20:55,87550.0,1738.0,83790.0
306428,306429,05/29/2021,Zuid-Holland,Netherlands,2021-05-30 04:20:55,391559.0,4252.0,0.0

In [3]:
a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 306429 entries, 0 to 306428
Data columns (total 8 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   SNo              306429 non-null  int64
 1   ObservationDate  306429 non-null  object
 2   Province/State   228326 non-null  object
 3   Country/Region   306429 non-null  object
 4   Last Update      306429 non-null  object
 5   Confirmed        306429 non-null  float64
 6   Deaths           306429 non-null  float64
 7   Recovered        306429 non-null  float64
dtypes: float64(3), int64(1), object(4)
memory usage: 18.7+ MB

In [4]:
a['ObservationDate'] = pd.to_datetime(a['ObservationDate'])

In [5]:
a['Last Update'] = pd.to_datetime(a['Last Update'], format='mixed')

In [6]:
a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 306429 entries, 0 to 306428
Data columns (total 8 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   SNo              306429 non-null  int64
 1   ObservationDate  306429 non-null  datetime64[ns]
 2   Province/State   228326 non-null  object
 3   Country/Region   306429 non-null  object
 4   Last Update      306429 non-null  datetime64[ns]
 5   Confirmed        306429 non-null  float64
 6   Deaths           306429 non-null  float64
 7   Recovered        306429 non-null  float64
dtypes: datetime64[ns](2), float64(3), int64(1), object(2)
memory usage: 18.7+ MB

In [7]:
a

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,2020-01-22,Anhui,Mainland China,2020-01-22 17:00:00,1.0,0.0,0.0
1,2,2020-01-22,Beijing,Mainland China,2020-01-22 17:00:00,14.0,0.0,0.0
2,3,2020-01-22,Chongqing,Mainland China,2020-01-22 17:00:00,6.0,0.0,0.0
3,4,2020-01-22,Fujian,Mainland China,2020-01-22 17:00:00,1.0,0.0,0.0
4,5,2020-01-22,Gansu,Mainland China,2020-01-22 17:00:00,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
306424,306425,2021-05-29,Zaporizhia Oblast,Ukraine,2021-05-30 04:20:55,102641.0,2335.0,95289.0
306425,306426,2021-05-29,Zeeland,Netherlands,2021-05-30 04:20:55,29147.0,245.0,0.0
306426,306427,2021-05-29,Zhejiang,Mainland China,2021-05-30 04:20:55,1364.0,1.0,1324.0
306427,306428,2021-05-29,Zhytomyr Oblast,Ukraine,2021-05-30 04:20:55,87550.0,1738.0,83790.0
306428,306429,2021-05-29,Zuid-Holland,Netherlands,2021-05-30 04:20:55,391559.0,4252.0,0.0

In [8]:
mask = a['Country/Region'] == 'India'
mask

0         False
1         False
2         False
3         False
4         False
          ...
306424    False
306425    False
306426    False
306427    False
306428    False
Name: Country/Region, Length: 306429, dtype: bool

In [9]:
a[mask]

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
446,447,2020-01-30,NaN,India,2020-01-30 16:00:00,1.0,0.0,0.0
509,510,2020-01-31,NaN,India,2020-01-31 23:59:00,1.0,0.0,0.0
567,568,2020-02-01,NaN,India,2020-01-31 08:15:00,1.0,0.0,0.0
629,630,2020-02-02,NaN,India,2020-02-02 06:03:08,2.0,0.0,0.0
696,697,2020-02-03,NaN,India,2020-02-03 21:43:02,3.0,0.0,0.0
...,...,...,...,...,...,...,...,...
306351,306352,2021-05-29,Tripura,India,2021-05-30 04:20:55,50739.0,507.0,43190.0
306366,306367,2021-05-29,Unknown,India,2021-05-30 04:20:55,0.0,0.0,0.0
306377,306378,2021-05-29,Uttar Pradesh,India,2021-05-30 04:20:55,1688152.0,20208.0,1621743.0
306378,306379,2021-05-29,Uttarakhand,India,2021-05-30 04:20:55,327112.0,6360.0,289642.0
306406,306407,2021-05-29,West Bengal,India,2021-05-30 04:20:55,1354956.0,15268.0,1237290.0

In [10]:
mask1 = a['ObservationDate'] == 'India'
mask1

0         False
1         False
2         False
3         False
4         False
          ...
306424    False
306425    False
306426    False
306427    False
306428    False
Name: ObservationDate, Length: 306429, dtype: bool

In [11]:
mask2 = a['Province/State'] == 'India'
mask2

0         False
1         False
2         False
3         False
4         False
          ...
306424    False
306425    False
306426    False
306427    False
306428    False
Name: Province/State, Length: 306429, dtype: bool

In [12]:
mask3 = a['Last Update'] == 'India'
mask3

0         False
1         False
2         False
3         False
4         False
          ...
306424    False
306425    False
306426    False
306427    False
306428    False
Name: Last Update, Length: 306429, dtype: bool

In [13]:
mask4 = a['Confirmed'] == 'India'
mask4

0         False
1         False
2         False
3         False
4         False
          ...
306424    False
306425    False
306426    False
306427    False
306428    False
Name: Confirmed, Length: 306429, dtype: bool

In [14]:
mask5 = a['Deaths'] == 'India'
mask5

0         False
1         False
2         False
3         False
4         False
          ...
306424    False
306425    False
306426    False
306427    False
306428    False
Name: Deaths, Length: 306429, dtype: bool

In [15]:
mask6 = a['Recovered'] == 'India'
mask6

0         False
1         False
2         False
3         False
4         False
          ...
306424    False
306425    False
306426    False
306427    False
306428    False
Name: Recovered, Length: 306429, dtype: bool

In [16]:
b = a[mask1 & mask2]

In [17]:
b

Empty DataFrame
Columns: [SNo, ObservationDate, Province/State, Country/Region, Last Update, Confirmed, Deaths, Recovered]
Index: []

In [18]:
a[mask1 & mask3]

Empty DataFrame
Columns: [SNo, ObservationDate, Province/State, Country/Region, Last Update, Confirmed, Deaths, Recovered]
Index: []

In [19]:
f = a[mask1 | mask2]
f

Empty DataFrame
Columns: [SNo, ObservationDate, Province/State, Country/Region, Last Update, Confirmed, Deaths, Recovered]
Index: []